.proBtn {
  background-color: #30ac9a;
  color: white;
  border: 0px;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 16px;
  transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
}
.proBtn:hover {
  background-color: rgb(212, 212, 212);
  color: #30ac9a;
}

.proBtn5 {
  background-color: #30ac9a;
  color: white;
  border: 0px;
  padding: 5px;
  font-size: 1.2rem;
  transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
}
.proBtn5:hover {
  background-color: rgb(212, 212, 212);
  color: #30ac9a;
}

.producInWideScreen2 h3, .producInWideScreen2 h4 {
  font-size: 1.4rem;
}
.producInWideScreen2 h6 {
  font-size: 0.7rem;
}
.producInWideScreen2 .allOrdDetailes {
  background-image: #30AC9A;
  color: white !important;
}
.producInWideScreen2 .allOrdDetailes span {
  color: rgb(255, 187, 61);
}

.producInWideScreen h2, .producInWideScreen h4 {
  font-size: 1rem !important;
}
.producInWideScreen h6 {
  font-size: 0.85rem !important;
}
.producInWideScreen button {
  font-size: 1rem !important;
}

@media screen and (min-width: 992px) {
  .producInWideScreen {
    width: 20%;
  }
}
@media screen and (max-width: 500px) {
  .producInWideScreen h2, .producInWideScreen h4 {
    font-size: 0.7rem !important;
  }
  .producInWideScreen h6 {
    font-size: 0.75rem !important;
  }
  .producInWideScreen button {
    font-size: 0.7rem !important;
  }
  .producInWideScreen2 h3, .producInWideScreen2 h4 {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 300px) {
  .producInWideScreen h2, .producInWideScreen h4 {
    font-size: 0.5rem !important;
  }
  .producInWideScreen h6 {
    font-size: 0.65rem !important;
  }
  .producInWideScreen button {
    font-size: 0.5rem !important;
  }
}
.MyIcons {
  width: 30px;
  height: 30px;
  border: 2px solid #276259;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-top: 10px;
  cursor: pointer;
  color: #276259;
  transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
}
.MyIcons:hover {
  background-color: #276259;
  color: white;
}

.Sliders {
  cursor: pointer;
}

.signUpForm {
  background-color: white;
  box-shadow: 0px 0px 15px 15px black;
  margin: 100px 0px;
}
.signUpForm button {
  background-color: #398378;
  color: white;
}
.signUpForm button:hover {
  background-color: #e8f9cc;
  color: #398378;
}

#numOfItems {
  color: #398378;
}

.detBtn {
  background-color: #e8f9cc;
  color: #398378;
  outline: 0px;
  border: 0px;
  font-size: 0.8rem;
  transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
}
.detBtn:hover {
  background-color: #398378;
  color: #e8f9cc;
}

.cartRemoveBtn {
  color: #398378;
  background-color: #e8f9cc;
  transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
}
.cartRemoveBtn:hover {
  color: #e8f9cc;
  background-color: #398378;
}

.slick-dots li button::before {
  font-size: 12px !important;
  color: #398378 !important;
}

/* HTML: <div class="loader"></div> */
.redirecting {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  background: linear-gradient(90deg, #000 50%, rgba(0, 0, 0, 0) 0) right/200% 100%;
  animation: l21 2s infinite linear;
}
.redirecting::before {
  content: "Redirecting...";
  color: rgba(0, 0, 0, 0);
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg, #fff 50%, #000 0);
  -webkit-background-clip: text;
  background-clip: text;
}
@keyframes l21 {
  100% {
    background-position: left;
  }
}

.nav-Link:hover {
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
}

.activeLink {
  color: #2a9a7e !important;
}

.product {
  overflow: hidden;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3647058824);
}
.product h3, .product h4, .product h6, .product h2 {
  color: black;
}
.product .ProTitle {
  color: #30ac9a;
  font-weight: bolder;
}
.product .rating {
  background-color: #e8f9cc;
  width: 30px;
  height: 30px;
}
.product .sale {
  background-color: #b74829;
  color: white;
  top: 0%;
  left: 5%;
  padding: 8px;
}
.product .proImg {
  transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 3/2;
}
.product:hover .proImg {
  transform: scale(1.1, 1.1);
}
.product .orderPtn {
  background-color: rgb(220, 232, 208);
  color: #1c8062;
  border: 0px;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 16px;
  transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
}
.product .orderPtn:hover {
  background-color: rgb(212, 212, 212);
  color: #30ac9a;
}

.product2 {
  box-shadow: none;
}

#imageAndTextDetectionLoader {
  z-index: 999999999;
}
#imageAndTextDetectionLoader .imageAndTextDetectionLoader {
  --c:no-repeat linear-gradient(#2EA99E 0 0);
  background: var(--c), var(--c), var(--c), var(--c), var(--c), var(--c), var(--c), var(--c), var(--c);
  background-size: 16px 16px;
  animation: l32-1 1s infinite, l32-2 1s infinite;
}
@keyframes l32-1 {
  0%, 100% {
    width: 45px;
    height: 45px;
  }
  35%, 65% {
    width: 65px;
    height: 65px;
  }
}
@keyframes l32-2 {
  0%, 40% {
    background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 50% 50%;
  }
  60%, 100% {
    background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 0 0, 50% 50%;
  }
}

.formContainer {
  background-color: white;
}
.formContainer #circularLogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2EA99E;
  color: #ffffff;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer .loginBtn {
  background-color: #2EA99E;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.formContainer .loginBtn:hover {
  background-color: #23827a;
  color: white;
}

.proBtn2 {
  background-color: #30ac9a;
  color: white;
  border: 0px;
  padding: 5px;
  font-size: 1.2rem;
  transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
}
.proBtn2:hover {
  background-color: rgb(212, 212, 212);
  color: #30ac9a;
}

.clearBtn {
  width: -moz-fit-content;
  width: fit-content;
}

.totalPrice {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFF8D6;
}
.totalPrice h3 {
  color: #617A55;
}
.totalPrice span {
  color: #79d45b;
}

.paginationBtn {
  background-color: white;
  color: #30ac9a;
  border: 0px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 8px;
}
.paginationBtn:disabled {
  background-color: rgba(255, 255, 255, 0.549);
  color: rgba(48, 172, 154, 0.568627451);
}

.searchInputContainer {
  background-color: #FFFFFF;
  border: 1px solid #30ac9a !important;
}
.searchInputContainer input {
  width: 80%;
}
.searchInputContainer input:focus {
  outline: 0px;
  border: 0px;
}
.searchInputContainer input::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #667085;
}
.searchInputContainer input::placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #667085;
}
.searchInputContainer .serchIconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #30ac9a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.searchInputContainer .serchIconContainer:hover {
  background-color: #56b6a7;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #30ac9a;
  font-size: 24px;
}
.dropdown .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90%;
  left: -200%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown .dropdown-menu button {
  border: none;
  text-decoration: none;
  background-color: white;
  color: black;
  display: block;
  transition: all 0.3s;
}
.dropdown .dropdown-menu button:hover {
  background-color: #f1f1f1;
}

.pageNumber {
  margin: 0px 10px;
  color: #398378;
  font-size: 20px;
  font-weight: 600;
}

.ProTitle {
  color: #30ac9a;
  font-weight: bolder;
}

.BrandTitle {
  font-weight: bolder;
}

.brandBox {
  background-color: #e8f9cc;
  color: #398378;
  transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
}
.brandBox:hover {
  transform: scale(1.1, 1.1);
}

.proBtn3 {
  background-color: white;
  color: #398378;
  border: 0px;
  padding: 5px;
  font-size: 1.2rem;
  transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
}
.proBtn3:hover {
  color: #e8f9cc;
}

nav ul li a {
  color: black !important;
}

.slider-photo {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.slider-photo img {
  width: 50px;
}

.SliderLayer {
  color: white;
}
.SliderLayer h2 {
  margin-bottom: 30px;
  width: 100%;
  font-size: 3.5rem;
  font-weight: bold;
  font-style: italic;
}
.SliderLayer p {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}
.SliderLayer button {
  background: linear-gradient(to right, #e8f9cc, #a5ea87);
  color: white;
  border: 0px;
  padding: 5px;
  font-size: 1.2rem;
}
.SliderLayer button:hover {
  background: linear-gradient(to right, #a5ea87, #e8f9cc);
}

nav {
  background-color: rgb(255, 255, 255);
}

.myOrder {
  background-color: white;
}

.allOrdDetailes {
  background-color: #30ac9a;
}

.productFontSize h3, .productFontSize h4, .productFontSize h2 {
  font-size: 1.5rem !important;
}
.productFontSize h6 {
  font-size: 0.8rem !important;
}

.productFontSize2 h3, .productFontSize2 h4, .productFontSize2 h2 {
  font-size: 1.5rem !important;
}
.productFontSize2 h6 {
  font-size: 0.8rem !important;
}

.sucMsg {
  width: -moz-fit-content;
  width: fit-content;
}

.login {
  width: -moz-fit-content;
  width: fit-content;
}

.filtersContainerparent {
  width: 30%;
  height: 100vh;
  background-color: whitesmoke;
  z-index: 9999;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filtersContainerparent div i {
  color: #30AC9A;
}
.filtersContainerparent div:nth-child(1) {
  cursor: pointer;
}
.filtersContainerparent .filtersContainer {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  z-index: 99999;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}
.filtersContainerparent .filtersContainer::-webkit-scrollbar {
  width: 10px;
}
.filtersContainerparent .filtersContainer .filtersTitle {
  background-color: #30ac9a;
  color: white;
  border-radius: 5px;
  padding: 5px 5px;
}
.filtersContainerparent .closeFilterSideBar {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 999999999 !important;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 20px 0px;
}
.filtersContainerparent .closeFilterSideBar i {
  font-size: 24px;
  color: black;
}

@media screen and (max-width: 550px) {
  .productFontSize h3, .productFontSize h4, .productFontSize h2 {
    font-size: 0.8rem !important;
  }
  .productFontSize h6 {
    font-size: 0.8rem !important;
  }
  .productFontSize button {
    font-size: 0.5rem;
  }
  .productFontSize .proBtn3 {
    font-size: 0.9rem;
  }
  .productFontSize2 h3, .productFontSize2 h4, .productFontSize2 h2 {
    font-size: 1.3rem !important;
  }
  .productFontSize2 h6 {
    font-size: 1rem !important;
  }
  .loadingScreen i {
    font-size: 5rem;
  }
  .BrandTitle {
    font-size: 1rem;
  }
  .SliderLayer {
    color: white;
  }
  .SliderLayer h2 {
    margin-bottom: 30px;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
  }
  .SliderLayer p {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
  }
  .SliderLayer button {
    font-size: 0.9rem;
    padding: 10px 15px !important;
  }
}
@media screen and (max-width: 1000px) {
  .filtersContainerparent {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .filtersContainerparent {
    width: 100%;
  }
  .paginationBtn {
    padding: 8px;
    font-size: 0.7rem;
    border-radius: 6px;
  }
  .pageNumber {
    margin: 0px 10px;
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .productFontSize h3, .productFontSize h4, .productFontSize h2 {
    font-size: 0.7rem !important;
  }
  .productFontSize h6 {
    font-size: 0.8rem !important;
  }
  .productFontSize button {
    font-size: 0.5rem;
  }
  .productFontSize .proBtn3 {
    font-size: 0.9rem;
  }
  .productFontSize .BrandTitle {
    font-size: 0.7rem;
  }
  .productFontSize2 h3, .productFontSize2 h4, .productFontSize2 h2 {
    font-size: 1rem !important;
  }
  .productFontSize2 h6 {
    font-size: 1rem !important;
  }
  .loadingScreen i {
    font-size: 3.5rem;
  }
  .SliderLayer {
    color: white;
  }
  .SliderLayer h2 {
    font-size: 1.5rem;
  }
  .SliderLayer p {
    font-size: 1em;
  }
}
footer {
  background-color: white;
}
footer .footerUl {
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
footer .footerUl h3 {
  color: #398378;
}
footer .footerUl li, footer .footerUl li a {
  cursor: pointer;
  color: #c3b38d;
  font-size: 1rem;
}
footer .footerInfo button {
  background-color: #398378;
  color: #efdbae;
}
footer .footerInfo button:hover {
  background-color: #c3b38d;
  color: #398378;
}
footer .footerInfo h3 {
  color: #ec9c86;
}

.MyIcons2 {
  width: 55px;
  height: 55px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-top: 10px;
  cursor: pointer;
  color: #2AB6AB;
  transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
}
.MyIcons2 a {
  text-decoration: none;
  color: unset;
}
.MyIcons2:hover {
  color: #BDE37F;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: aliceblue;
}

::-webkit-scrollbar-thumb {
  background: #398378;
}

.favBrandCounter {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #30ac9a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#noProducts {
  z-index: 999;
}

@media screen and (max-width: 900px) {
  .filtersFontSize label {
    font-size: 12px !important;
  }
  .titleFontSize {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=style.css.map */