@mixin transition($dur,$prop){
    transition: $prop , $dur;
    -o-transition: $prop , $dur;
    -moz-transition: $prop , $dur;
    -ms-transition: $prop , $dur;
    -webkit-transition: $prop , $dur;
}
#profileDataPage{
    padding: 50px 20px;
    figure{
        width: 100px;
        height: 100px;
        border: 3px solid white;
        border-radius: 50%;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 50%;
            aspect-ratio:2/3;
        }
        #editProfilePicIcon{
            #profilePicInput{
                display: none;
            }
            cursor: pointer;
            position: absolute;
            bottom: 0px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #2a9a7e;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .profileContent{
        h3{
            font-size: 1.5rem;
            color: #30ac9a;
            background-color: white;
            padding: 15px 24px;
            border-radius: 12px;
            margin: 0px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.306);
            font-weight: 400;
            span{
                font-weight: 600;
                color: black;
            }
        }
        #editProfileBtn{
            border: none;
            outline: none;
            background-color:#3fb89e;
            color: white;
            padding: 12px 24px;
            border-radius: 12px;
            font-weight: 500;
            font-size: 1.2rem;
            @include transition(0.3s , all);
            &:hover{
                background-color: #2a9a7e;
                
            }
        }
        #editProfileLayer{
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(0, 0, 0, 0.408);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 0px;
            display: none;
            #editProfileContent{
                width: 70%;
                background-color: white !important;
                border-radius: 12px;
                padding: 24px;
                label{
                    width: 100%;
                }
                input{
                    width: 100%;
                    border: 1px solid rgba(0, 0, 0, 0.426);
                    padding: 12px 18px;
                    border-radius: 8px;
                    &:focus{
                        outline-color: #2a9a7e;
                    }
                }
                button{
                    padding: 10px 16px;
                    background-color: #2a9a7e;
                    color: white;
                    border: none;
                    outline: none;
                    border-radius: 8px;
                    @include transition(0.3s , all);
                    margin: 0px 5px;
                    &:hover{
                        background-color: #3fb89e;
                    }
                    &.cancel{
                        background-color: black;
                        &:hover{
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:650px) {
    #profileDataPage{
        padding: 20px 10px;
        .profileContent{
            h3{
                font-size: 1rem;
            }
            #editProfileBtn {
                font-size: 1rem;
            }
            #editProfileLayer{
                
                #editProfileContent{
                    width: 90%;
                    background-color: white !important;
                    border-radius: 12px;
                    padding: 24px 18px;
                  
                }
            }
        }
    }
}