@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
  background-image: url(./assets/gray-concrete-wall.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  background-attachment: fixed;
}
body .ar{
  font-family: 'Cairo', sans-serif;
}

.slick-arrow::before{
  color:black !important;
}

