
body {
  background-image: url(./assets/gray-concrete-wall.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  background-attachment: fixed;
}


.slick-arrow::before{
  color:black !important;
}

